autopep8
black
cffi
cmake
cython
dash
dask
folium
graphviz
h5py
ipython
jupyterlab
matplotlib
mkl
mkl-include
notebook
numpy
onnx
pandas
plotly
pytorch
pylint
pyyaml
rapids=0.13
requests
setuptools
shapely
slackclient
tensorboard
tensorboardX
tensorflow-gpu
tqdm
typing
