autopep8
black
cffi
cmake
cython
dash
dask
folium
graphviz
h5py
ipython
jupyterlab
lightning
matplotlib
mkl
mkl-include
nose
notebook
numpy
onnx
pandas
plotly
pylint
pytest
pyyaml
requests
setuptools
shapely
slackclient
tensorboard
tensorboardX
tensorflow
torchvision
torchaudio
tqdm
fairscale
fire
sentencepiece
